/* style.css */

/* Gaya umum */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh; /* Mengisi tinggi seluruh layar */
}

.container {
    display: flex;
}

/* Gaya navigasi */
nav {
    background-color: #08121a;
    padding: 0;
    text-align: left;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-left: 0;
    /* width: 100%; */
}

ul li img{
    margin: 0;
    padding: 0;
}

nav img{
    padding-top: 20px;
    padding-bottom:60px ;
}

a {
    display: block;
    color: #fff;
    text-decoration: none;
    width: 200px;
    height: 50px;
    padding-left: 10px;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 10px;
}
li:hover{
    background-color: #fff;
    color: #08193f;
}
a:hover {
    background-color: #fff;
    color: #08193f;
    /* opacity: 0.7; */
}


.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Gaya header */
header {
    background-color: #001C30;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Gaya konten */
#content{
     /* border: 1px solid rgb(223, 13, 13); */
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #F0F0F0;
}

.top-content{
   width: 100%;
   /* border: 1px solid black; */
   display: flex;
   justify-content: space-between;
}

form {
    /* border: 1px solid black; */
    padding: 20px;
    width: 100vh;
    position: relative;
    color: #e7e9eb;
}

.label-input1{
    display: flex;
    justify-content: space-evenly;
    margin-left: 5px;
    width: 60%;
    z-index: 4;
    position: relative;    
}



.label-input2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 60%;
    z-index: 4;
    position: relative;
}

#backgroundEdit{
    background-color: #08193f;
    position: absolute;
    top: 0;
    left: 20px;
    width: 27%;
    height: 60%;
    z-index: 1;
    border-radius: 10px 0 0 10px;
}

#backgroundEdit1{
    background-color:#e7e9eb;
    position: absolute;
    width: 30%;
    height: 60%;
    top: 0;
    right: 290px;
    border-radius: 0px 10px 10px 10px;
    z-index: 3;
    /* border: 1px solid salmon; */
}

button{
    z-index: 2;
    position: relative;
    
}

input{
    height: 25px;
    border: none;
    outline: none;
    padding-left: 5px;
    box-shadow: 1px 1px 2px gray;
    border-radius: 5px;
}

input:hover{
    box-shadow: 2px 2px 2px 1px #3c6688;
}



.label-input input:hover {
    box-shadow: 0 0 5px 0 rgba(1, 149, 255, 0.959);
}
.label-input input:focus {
    box-shadow: 0 0 5px 0 rgba(1, 149, 255, 0.959);
    outline: none;
}


button{
    height: 30px;
    margin-left: 200px;
}

section#form-content button[type="submit"] {
    background-color: #08193f;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

/* section#form-content button[type="submit"]:hover,
section#form-content button[type="submit"]:focus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    outline: none;
} */

section#form-content button[type="submit"]:hover{
    background-color: #030d25;
}

#e-biling{
    /* border: 1px solid black; */
    width: 100%;
    position: relative;
}
.content-biling{
    display: flex;
    align-items: center;
    width: 64%;
    height: 55%;
    box-shadow: 2px 2px 2px 2px rgb(201, 199, 199) ;
    border-radius: 0 0 5px 5px;
}
.content-biling h4{
    margin-right: 50px;
    padding-left: 15px;
    z-index: 2;
    color: #F0F0F0;
}

.content-biling p{
    z-index: 2;
    padding: 10px;
}

#backgraundBiling1{
    background-color:#08193f;
    position: absolute;
    width: 50%;
    height: 60%;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 10px 0 0 10px;
    /* box-shadow: 2px 2px 2px 2px rgb(201, 199, 199) ; */
}

#backgraundBiling2{
    background-color:#e7e9eb;
    position: absolute;
    width: 50%;
    height: 60%;
    top: 0;
    right: 60px;
    z-index: 1;
    border-radius: 0px 10px 10px 10px;
    /* box-shadow: 2px 2px 2px 2px rgb(201, 199, 199) ; */
}

section#form-content button[type="submit"] {
    background-color: #08193f;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

section#e-biling button[type="submit"] {
    background-color: #08193f;
    color: #ffffff;
    margin-top: 17px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    width: 120px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}


section#e-biling button[type="submit"]:hover{
    background-color: #030d25 ;
}


#barang-pesan{
    font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#barang-pesan th,#barang-pesan td{
    border: 1px solid #F0F0F0;
    padding: 10px;
    
}

#barang-pesan th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:#08193f;
    color: white;
}

#barang-pesan tr:nth-child(even){
    background-color: #8b8b8b;
}

/* Gaya footer */

footer {
    background-color: #001C30;
    color: #fff;
    padding: 10px;
    text-align: center;
}
